<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kartal.kuaforoto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kuaforoto">

        <activity android:name=".OrderSucceessActivity" />
        <activity android:name=".PlaceYourOrderActivity" />
        <activity android:name=".RestaurantMenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GirisActivity" />
        <activity android:name=".KayitActivity" />
        <activity android:name=".radioButton"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>